body,html,p,div,h1,h2,h3,h4,ul,li,ol,dl,dt,dd,fieldset,th,table,td{
    margin:0;
    padding:0;
}
body,html{
    height:100%;
}
a{
    text-decoration: none;
}
img{
    border:0;
    border:none;
}
ul li,ol li{
    list-style: none;
}