.header-container{
    height: 63px;
}
.header{
    width:100%;
    
    position:fixed;
    left:0;top:0;
    padding:8px 15px;
    padding:0 15px;
    box-sizing: border-box;
    background-image:linear-gradient(to bottom,#54b4eb, #2FA4E7 60%, #1d9ce5)
}
.header .list-head,.header .list-nav{
    float:left;
}
.header .list-head img{
    margin-right: 8px;
}
.header .list-nav{
    margin-left:80px;
}

.header .list-head-info{
    float:right;
}
.header .list-head ul{
    overflow:hidden;
   
    margin:0;
}
.header .list-head ul li{
    float:left;
    height:30px;
    line-height: 30px;
    font-size: 20px;
    color:white;
    padding:20px 0;
}
.header .list-nav li,.header .list-head-info li{
    float:left;
    line-height: 30px;
    height:30px;
    padding:20px 10px;  
    color:white;  
}
.header .list-head-info li{
    position:relative;
}
.list-nav-hover-bacground{
    background:#00a1e9;
}
.header .list-nav li a{
    color:white;
}
.dropdown{
    background:white;
    border:1px solid #ddd;
    box-shadow: 0 0 3px #eee;
    padding:4px 0;
    text-align: center;
    display: none;
    width:100%;
}
.header .list-head-info li .dropdown{
    position: absolute;
    left:0;top:58px;
}
.header .list-head-info li:hover .dropdown{
    display: block;
}
.header .list-head-info li span,.header .list-head-info li img{
    display: inline-block;
    vertical-align: middle;
    margin:0 2px;
}
.dropdown{
    border-radius: 4px;
}
.dropdown a{
    display:inline-block;
    padding:4px 10px;
    box-sizing: border-box;
    color:#666;
}
.header .dropdown a{
    display:block;
}
.dropdown a:hover{
    background:#00a1e9;
    color:white;
}
.header:after{
    content:"";
    clear:both;
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
 }
 .dropdown-container{
     height: 54px;
 }
 .dropdown-container .dropdown{
     position:fixed;
     top:69px;left:0;
     padding:5px 20px;
     padding-left:240px;
     box-sizing: border-box;
     text-align:left;
    background-image:linear-gradient(to bottom,white, #eee 60%, #ddd)
 }
/*-----------------------------表格样式-----------------------*/
.list-table-container{
    width:85%;
    margin:20px auto;
    margin-top:0px;
    float:left;
    border-radius: 4px;
    box-shadow:0 0 2px 3px #eee;
    padding:0 1px;
}

.list-table{
    width:100%;
    overflow-x:auto;
}
.list-table .table{
    table-layout: fixed;
    margin-bottom:1px;
    
}

.list-table .table thead th{
    width:170px;
    text-align:center;
    color:#666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:14px;
}
.list-table .table tr td{
    font-size:14px;
    color:#666;
    text-align: right;
    font-weight: normal;
}
.list-table .table thead th:nth-child(1){
    width:185px;
}
.list-table .table tbody th{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:14px;
    color:#666;
}
.list-table .table tbody tr:nth-child(1) td:nth-child(n+2){
    text-align:center;
}
.list-table-container h3{
    color:white;
    text-align: left;
    padding:10px 10px;
    box-sizing: border-box;
    margin:0;
    font-size:17px;
    background:#2FA4E7;
    width:100%;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px;
}

/*--------------------侧栏导航-------------------------*/
nav {
    display: block;
    float:left;
    margin-left: 2%;
    margin-right:10px;
    background:white; 
     border:1px solid #ddd;
     border-radius: 5px;
     box-shadow: 0px 0px 2px 1px #ddd;
     box-sizing: border-box;
 }
     nav a { 
         font-size: 14px;
         color: #666;
         display: block;
         padding: 10px;
         text-decoration: none;
         width:80px;
         text-align: center;
         text-overflow: ellipsis;
         overflow: hidden;
         white-space: nowrap;
    }         
     nav div a:active {
         box-shadow: -1px 0.5px 2px 1px white inset;
         background-color: #00a1e9;
    } 
     .a_click{
        background-color: #2FA4E7;
        color:white;
     }
    