/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
.cfca-keyboard{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
    background: rgba(143, 151, 164, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    clear: both;
    margin: 0;
    padding: 0;
}

.cfca-row{
    width: 100%;
    clear: both;
    margin: 0;
}

.col {
    display: block;
    float: left;
    width: 8.75%;
    margin-top: 1%;
    margin-left: 0.625%;
    margin-right: 0.625%;
    line-height:1;
}

.col-pad {
    display: block;
    float: left;
    width: 30%;
    margin: 1% 1.66%;
    line-height:1;
}
.cfca-default, .cfca-mod, .cfca-space{
    background-color: #e7e7e7;
    border: none;
    background-image: -webkit-linear-gradient(top, #e7e7e7 0%, #e7e7e7 100%);
    background-image: -moz-linear-gradient(top, #e7e7e7 0%, #e7e7e7 100%);
}

.cfca-click, .cfca-mod-click{
    background-color: #c5c5c5;
    border: none;
    background-image: -webkit-linear-gradient(top, #c5c5c5 0%, #c5c5c5 100%);
    background-image: -moz-linear-gradient(top, #c5c5c5 0%, #c5c5c5 100%);
}

.cfca-disable{
    background-color: #bbbbbb;
    color: #888888;
    background-image: -webkit-linear-gradient(top, #bbbbbb 0%, #bbbbbb 100%);
    background-image: -moz-linear-gradient(top, #bbbbbb 0%, #bbbbbb 100%);
    border: none;
    opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity = 0);
}

.cfca-bubble{
    background-color: #f9f9f9;
    border: 1px solid #bac0c5;
    background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f9f9f9 100%);
    background-image: -moz-linear-gradient(top, #f9f9f9 0%, #f9f9f9 100%);
}

.cfca-btn{
    width: 100%;
    border-radius: 5px;
    padding: 0;
    color: #000;
    display: inline-block;
    font-family: Microsoft YaHei, Arial, sans-serif;
    cursor: pointer;
    ime-mode: disabled;
    text-align:center;
    text-align:-moz-center;
    text-align:-webkit-center;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
