.barstyle {
	-ms-scrollbar-face-color: rgb(221, 221, 221); -ms-scrollbar-3dlight-color: rgb(216, 226, 197); -ms-scrollbar-shadow-color: rgb(246, 252, 234); -ms-scrollbar-highlight-color: rgb(255, 255, 255); -ms-scrollbar-darkshadow-color: rgb(255, 255, 255); -ms-scrollbar-arrow-color: rgb(255, 255, 255); -ms-scrollbar-track-color: rgb(246, 252, 234);
}
a:link {
	color: rgb(51, 153, 255); font-size: 8pt; text-decoration: none;
}
a:visited {
	color: rgb(51, 153, 255); font-size: 8pt; text-decoration: none;
}
a:active {
	color: rgb(255, 153, 0); font-size: 8pt; text-decoration: none;
}
input {
	border: 1px solid rgb(113, 135, 67); border-image: none; font-family: Arial; font-size: 8pt; background-color: rgb(232, 232, 232);
}
select {
	border: 1px solid rgb(113, 135, 67); border-image: none; font-family: Arial; font-size: 8pt; background-color: rgb(255, 250, 255);
}
textarea {
	border: 1px solid rgb(113, 135, 67); border-image: none; font-family: Arial; font-size: 8pt; background-color: rgb(255, 250, 255);
}
table {
	font-size: 8pt;
}
body {
	color: rgb(102, 102, 51); font-family: Arial,Verdana, Helvetica; font-size: 8pt;
}
h1 {
	color: rgb(153, 153, 51); font-family: Times New Roman, Times; font-size: 8pt;
}
h2 {
	color: rgb(204, 153, 0); font-family: Times New Roman, Times; font-size: 8pt;
}
h3 {
	color: rgb(0, 102, 153); font-family: Times New Roman, Times; font-size: 8pt;
}
h4 {
	color: rgb(153, 153, 0); font-family: Times New Roman, Times; font-size: 8pt;
}
h5 {
	color: rgb(255, 153, 0); font-family: Times New Roman, Times; font-size: 8pt;
}
h6 {
	color: rgb(51, 102, 204); font-family: Times New Roman, Times; font-size: 8pt;
}
.tdfont01 {
	font-family: Verdana; font-size: 8pt; font-weight: bold; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 2px; border-bottom-style: solid; background-color: rgb(241, 245, 245);
}
.tdfont02 {
	font-size: 14px;
}
.menutd {
	font-family: Arial, Helvetica; font-size: 4pt;
}
.commontd {
	font-family: Arial; font-size: 8pt; border-top-color: rgb(218, 228, 227); border-left-color: rgb(218, 228, 227); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid;
}
.commontd_T {
	font-family: Arial; font-size: 8pt; border-top-color: rgb(218, 228, 227); border-top-width: 1px; border-top-style: solid;
}
.commontd_L {
	font-family: Arial; font-size: 8pt; border-left-color: rgb(218, 228, 227); border-left-width: 1px; border-left-style: solid;
}
.commontable {
	font-size: 8pt; border-right-color: rgb(218, 228, 227); border-bottom-color: rgb(218, 228, 227); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; table-border-color-light: rgb(255, 204, 102); table-border-color-dark: rgb(204, 153, 102);
}
.commontd_B {
	font-family: Arial; font-size: 8pt; border-top-color: rgb(255, 255, 255); border-left-color: rgb(255, 255, 255); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid;
}
.common2table {
	font-size: 8pt; border-bottom-color: rgb(230, 237, 236); border-bottom-width: 1px; border-bottom-style: solid; table-border-color-light: rgb(255, 204, 102); table-border-color-dark: rgb(204, 153, 102);
}
.commontable02 {
	font-size: 8pt; margin-left: 2px; border-right-color: rgb(183, 210, 159); border-bottom-color: rgb(183, 210, 159); border-left-color: rgb(183, 210, 159); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; table-border-color-light: rgb(255, 204, 102); table-border-color-dark: rgb(204, 153, 102);
}
.input01 {
	border: 1px solid rgb(153, 163, 99); border-image: none; font-size: 12px; background-color: rgb(232, 234, 223);
}
.input02 {
	border: 0px currentColor; border-image: none; background-color: transparent;
}
.textbox {
	color: rgb(0, 0, 0); font-family: Verdana, Arial, Helvetica; font-size: 8pt;
}
