


    .main {
      max-width: 1920px;
  }

  .clear {
      clear: both;
  }

  .header {
      max-width: 1920px;
      background: #282828;
      height: 40px;
      padding: 20px 0;
  }

  .zjnr {
      width: 1200px;
      margin: 0 auto;
  }

  .ymtb {
      width: 148px;
      height: 40px;

  }

  .ymtb img {
      width: 100%;
  }

  .tbsybt li {
      float: left;
      color: #fff;
      font-size: 18px;
      line-height: 40px;
  }

  .tbsybt li:nth-child(2) {
      margin-left: 440px;
      width: 80px;
      text-align: center;
      position: relative;
      margin-right: 30px;
  }

  .zjnr .tbsybt li:nth-child(3) {
      width: 80px;
      text-align: center;
  }

  .zjnr .tbsybt li:nth-child(5) {
      width: 96px;
      height: 32px;
      /*background: #ff7a0f;*/
  border: 2px #ffffff solid;
      text-align: center;
      border-radius: 3px;
      float: right;
      line-height: 32px;
      margin-right: 20px;
  }

  .tbsybt li:nth-child(4) {
      float: right;
      width: 94px;
      height: 32px;
      border: 2px #ffffff solid;
      background: #282828;
      text-align: center;
      border-radius: 3px;
      line-height: 32px;
  }

  .tbsybt li:nth-child(2) span {
      position: absolute;
      width: 40px;
      height: 4px;
      display: block;
      background: #ff7a0f;
      border-radius: 2px;
      left: 50%;
      margin-left: -20px;
  }

  .lbt {
      width: 100%;
      background: url("../images/baaner.jpg") no-repeat;
      height: 540px;
      background-position: center center;
  }

  .zcnr {
      max-width: 1920px;
      background: #f1f1f1;

      height: 359px;
      padding-top: 1px;
  }

  .zcnrzw {
      width: 1200px;
      margin: 0 auto;

  }

  .zcnr .zcnrzw p:nth-child(1) {
      color: #333333;
      font-size: 30px;
      text-align: center;
      margin: 70px 0 20px;
  }

  .zcnr .zcnrzw p:nth-child(2) {
      color: #333333;
      font-size: 17px;
      text-align: center;

  }

  .zcnr .zcnrzw p:nth-child(3) {
      width: 196px;
      height: 60px;
      border: 1px #ff7a0f solid;
      color: #ff7a0f;
      text-align: center;
      line-height: 60px;
      font-size: 22px;
      border-radius: 5px;
      position: relative;
      left: 50%;
      margin-left: -98px;
      margin-top: 75px;
  }

  .zcnr1 {
      background: #f9f9f9;
  }

  .hzhb {

      max-width: 1920px;
      background: #f1f1f1;
      padding-top: 1px;
      height: 392px;

  }

  .hzhbnr {
      width: 1200px;
      margin: 0 auto;
  }
  .hzhbnr li:first-child{
    width: 364px;
    margin-right:20px;
  }
  .hzhbnr li{
      margin-top: 75px;
      float: left;
  }
  .hzhbnr li{
      width: 210px;
      line-height: 40px;
      color: #666;
      font-size: 17px;
      margin-right: 255px;
  }

  .hzhbnr p:nth-child(1){
      width: 145px;
      height: 40px;
      margin-bottom: 25px;
  }
  .hzhbnr li:nth-child(1) p:nth-child(1) img{
      width: 100%;
  }

  .hzhbnr li p span {
      display: block;
      float: left;
      width: 28px;
      height: 28px;
      margin: 6px 12px 6px 0;

  }




  .hzhbnr li:nth-child(2){
      margin-right: 155px;
  margin-left: 150px;
  }



  .hzhbnr li:nth-child(3){
      width: 260px;
      margin-right:0;

  }

  .hzhbnr li:nth-child(3) p:nth-child(1){
      color: #333;
      font-size: 22px;
  }
  .hzhbnr li:nth-child(3) div p{
      width: 80px;
      height: 50px;
      float: left;
      margin: 0 10px 10px 0;

  }


  .hzhbnr li:nth-child(3) div p:nth-child(3){
      margin-right: 0;
  }


  .hzhbnr li:nth-child(3) div p:nth-child(6){
      margin-right: 0;
  }


  .hzhbnr li:nth-child(3) div p:nth-child(9){
      margin-right: 0;
  }

  .dbnr{
      line-height: 40px;
      text-align: center;
      color: #fff;
      font-size: 17px;
  }

  .lbt1 {
      width: 100%;
      background: url("../images/baaner2.jpg") no-repeat;
      height: 660px;
      background-position: center center;
      position: relative;
  }
  .dlk{
      position: absolute;
      width: 380px;
      height: 450px;
      background-color: rgba(0, 0, 0, 0.2);
      left: 50%;
      margin-left: 180px;
      top: 60px;
      border: 1px #fff solid;
      border-radius: 6px;
  }
  .dlk li{
      width: 260px;
      height: 52px;
      background: #fff;
      border-radius: 4px;
      opacity:1;
      line-height: 52px;
      margin:0 0 24px 60px;
  }.dlk li:nth-child(1){
       margin-top: 58px;
   }
  .dlk li span{
      display: block;
      float: left;
      width: 24px;
      height: 24px;
      margin: 14px 15px;

  }
  .dlk li span img{
      width: 100%;

  }
  .dlk li input{
      border: none;
      color: #666;
      width: 165px;
      font-size: 17px;
      float: left;
      line-height: 50px;
      border-radius: 5px;
  }

  .dlk li:nth-child(4){
      background: #ff7a0f;
      text-align: center;
      font-size: 19px;
      color: #fff;
      border-radius: 50px;

  }
  .dlk li:nth-child(3){
      position: relative;

  }
  .dlk li:nth-child(3) input{
      width: 55px;
  }
  .dlk li:nth-child(3) div{
      position: absolute;
      width: 129px;
      height: 36px;
      background: #666666;
      top: 8px;
      left: 125px;
  }

li a:hover{background: #ff7a0f;  display: block;}